@import 'sass-themify/sass-themify';
@import './variables';

.svw-content-wrapper {
  padding: $pad 0;
}

.svw-content {
  border: 2px solid transparent;
}

.svw-outer {
  min-height: 100%;
}

@include sass-themify() {
  .svw-content {
    background: sass-themify-get-color('bg-content');
    border-color: sass-themify-get-color('border-highlight');
    color: sass-themify-get-color('fg');
  }

  .svw-outer {
    background: sass-themify-get-color('bg-outer');
  }
}
