@import 'sass-themify/sass-themify';
@import '../variables';

.svw-markdown {
  line-height: 1.5;
  padding: $mpad $pad;

  > *:first-child {
    margin-top: 0;
  }

  pre > code {
    border: 2px solid transparent;
    border-radius: 0;
    font-size: 12px;
    line-height: 1.5;
    padding: $mpad;
  }

  a > code,
  p > code,
  li > code {
    border-radius: 0;
    font-family: $font-body;
    font-size: 14px;
    line-height: 2;
  }

  > p:only-child > img:only-child {
    display: block;
    margin: 0 auto;
    max-width: 75%;
  }
}

.svw-content-wrapper.single-code-fence .svw-markdown {
  padding: 0;
}

.svw-content-wrapper.single-code-fence pre {
  margin: 0;
}

.svw-content-wrapper.single-code-fence code {
  border: 0;
}

@include sass-themify() {
  .svw-markdown pre > code {
    border-color: sass-themify-get-color('border-highlight');
  }

  .svw-markdown p,
  .svw-markdown li > code,
  .svw-markdown p > code,
  .svw-markdown a > code,
  .svw-markdown h1,
  .svw-markdown h2,
  .svw-markdown h3,
  .svw-markdown h4,
  .svw-markdown h5,
  .svw-markdown h6,
  .svw-markdown blockquote,
  .svw-markdown strong,
  .svw-markdown em {
    color: sass-themify-get-color('fg');
  }

  .svw-markdown p > code,
  .svw-markdown li > code,
  .svw-markdown a > code {
    background: sass-themify-get-color('bg-seperator');
  }
}
