@import '../variables';

.svw-todo-list {
  list-style-type: none;

  .pretty {
    display: block;
  }
}

.svw-todo-list-item {
  margin: 8px 0;
}

.svw-todo-list-label {
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  p {
    margin: 0 0 0 $spad;
  }
}
