$color-adwaita-white-1: #cbd0d0;
$color-adwaita-white-0: #fefefe;
$color-adwaita-black-0: #111;
$color-adwaita-gray-5: #747577;
$color-adwaita-gray-4: #282828;
$color-adwaita-gray-3: #24282a;
$color-adwaita-gray-2: #33373a;
$color-adwaita-gray-1: #2a4151;
$color-adwaita-gray-0: #1b1b1b;

@function gen-adwaita-dark-theme($accent-color) {
  @return (
    'fg': $color-adwaita-white-0,
    'fg-link': $accent-color,
    'fg-forms': $color-adwaita-white-1,
    'bg-outer': $color-adwaita-gray-3,
    'bg-content': $color-adwaita-gray-2,
    'bg-seperator': $color-adwaita-gray-1,
    'bg-active': $color-adwaita-gray-3,
    'bg-inactive': $color-adwaita-gray-0,
    'bg-header': $color-adwaita-gray-2,
    'bg-forms': $color-adwaita-gray-4,
    'border-highlight': $accent-color
  );
}
